header {
    width: 100%;
    background: linear-gradient(to right, var(--primary-color), #0e4b9c); /* Gradiente de azul */
    color: var(--text-light);
    padding: 2em 0;
    text-align: center;
    position: relative; /* Para posicionar el logo-perfil */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; /* Asegura que el contenido esté sobre el fondo */
}

.logo-perfil {
    width: 180px; /* Tamaño más moderado */
    height: 180px;
    border-radius: 50%;
    background-color: var(--secondary-color); /* Fondo amarillo para la imagen */
    border: 5px solid var(--text-light);
    overflow: hidden; /* Para recortar la imagen si es necesario */
    margin-bottom: 1em; /* Espacio debajo de la imagen */
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.logo-perfil .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el círculo */
    object-position: center; /* Centra la imagen */
    display: block;
}

.title-section {
    text-align: center;
}

.title-section h1 {
    color: var(--text-light);
    font-size: 3.5em;
    margin-bottom: 0.1em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.title-section p {
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0;
}