/* Importar fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Bebas+Neue&display=swap');

/* Variables CSS para colores */
:root {
    --primary-color: #0b3075; /* Azul oscuro, como el mar profundo */
    --secondary-color: #f8de3c; /* Amarillo dorado, como el oro de los piratas */
    --accent-color: #e67e22; /* Naranja sutil, para detalles */
    --text-dark: #333;
    --text-light: #fefefe;
    --background-light: #f4f7f6;
    --border-color: #ddd;
}

/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background-color: var(--background-light);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primary-color);
    letter-spacing: 1px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.8em;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.3em;
    display: inline-block; /* Para que el borde se ajuste al texto */
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: var(--accent-color);
}

p {
    margin-bottom: 1em;
}

ul {
    list-style: none;
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 0.5em;
}
